@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Games"]</h1>

<h1 class="tieude">LIÊN HỆ</h1>
<p>Gmail: <a href="mailto:thachtruong.020201@gmail.com">thachtruong.020201@gmail.com</a></p>
<p>Facebook: <a href="facebookto:https://www.facebook.com/stone.god.1">https://www.facebook.com/stone.god.1</a></p>
